.start-con1 {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.start-con1 > a > .fa-comment {
  color: var(--kakao);
  font-size: 12rem;
}
