.album {
    box-sizing: border-box;
    border: 1px solid none;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: #c5a3e0;
  }
  
  .buy {
    display: flex;
    flex-direction: column;
    line-height: 20px;
  }
  
  .buy--btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buy--title p {
    margin-top: 20px;
  }
  
  .buy--star > i {
    width: 10%;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .buy--btn__small {
    width: 80px;
    height: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px 13px;
  }
  
  .buy--btn__big {
    width: 100px;
    height: 50px;
    justify-content: right;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px 18px;
  }
  
  .cir {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid none;
    border-radius: 50%;
    background-color: gold;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 7px;
  }